.game-button {
  background-color: white;
  color: black;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin: 10px;
  box-shadow: 1px 1px 28px 1px rgb(178, 149, 238);
  border-radius: 20px;
  transition: background-color 0.5s;
  border-bottom: 2px solid black;
  width: 150px;
}

.game-button:hover {
  background-color: #c3a9f3;
}

.game-button:active {
  transform: translateY(4px);
}
