#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.App {
    font-family: "Nirmala UI", "Times New Roman", serif;
    background-color: black;
    color: white;
    padding: 20px;
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
button {
    font-family: "Nirmala UI", "Times New Roman", serif;
}