.modal {
    width: clamp(100px, 150px, 40%);
    height: min(80%, 130px);
    margin: auto;
    padding: 0 2rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.purple-gradient {
    background: linear-gradient(10deg, #693ab1, #c9acfc);
}