/*noinspection CssInvalidAtRule*/
@import-normalize;

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #8e71c1;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.App {
  font-family: "Nirmala UI", "Times New Roman", serif;
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column; ;
  align-items: center;
  border-radius: 30px;
}
button {
  font-family: "Nirmala UI", "Times New Roman", serif;
}

.link {
  text-decoration: none;
  color: black;
}
